<style>
    .mdc-footer {
        background-color: #f5f5f5;
        padding: 10px;
        text-align: center;
        margin-bottom: 0px;
        min-height: max-content;
    }
    
    .mdc-footer__left-section {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
    }

    .mdc-footer__copyright {
        font-size: 12px;
        color: #888;
    }

    .mdc-footer__site-name {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin-left: 10px;
    }
</style>

<footer class="mdc-footer">
    <div class="mdc-footer__left-section">
        <span class="mdc-footer__copyright">
            &copy; 2024 Uzair
        </span>
        <span class="mdc-footer__site-name">
            Crisp Links
        </span>
    </div>
</footer>
