<style>
    :root {
			--gray-base: #151618;
			--gray-tint-10: #2c2d2f;
			--gray-tint-20: #444546;
			--gray-tint-40: #737374;
			--gray-tint-10: #2c2d2f;
			--gray-tint-10: #2c2d2f;

			--accent-base: #2FA2BD;
			--accent-tint-90: #EAF6F8;

			--contextual-success-base: #1FA47C;
		}
    .mdc-footer {
        background-color:   var(--gray-tint-40);
        padding: 10px;
        text-align: center;
        margin-bottom: 0px;
        min-height: max-content;
    }
    
    .mdc-footer__left-section {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
    }

    .mdc-footer__copyright {
        font-size: 12px;
        color: var(--accent-base);
    }

    .mdc-footer__site-name {
        font-size: 16px;
        font-weight: bold;
        color: var(--gray-tint-10);
        margin-left: 10px;
    }
</style>

<footer class="mdc-footer">
    <div class="mdc-footer__left-section">
        <span class="mdc-footer__copyright">
            &copy; 2024 Uzair
        </span>
        <span class="mdc-footer__site-name">
            Crisp Links
        </span>
    </div>
</footer>
